<h1>Bienvenue {{name}} </h1>

<a href="/loggout" class="deconnexion">Deconnexion</a>
<div align="center">
 <h1>Papotes ou lis</h1>
            <div class="wrap-login100 p-t-30 p-b-50">
				<form class="login100-form validate-form p-b-33 p-t-5" action="" method="post" >
                        <input class="input100" type="text" name="name_art" placeholder="Titre">
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="text" name="article" placeholder="Ecris ton article">
                    </div>
                    
                <div class="container-login100-form-btn m-t-32">
                    <button >Publier !</button>
                </div>
                </form>
            </div>    
</div>

<h3>Article :</h3>
{{article}}